<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Book App</title>

        <script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/vendor/underscore/underscore-min.js"></script>
        <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">

        <script src="/static/javascripts/app.js"></script>


    </head>
    <body>
        <div class="container">
            <h1>Book App</h1>

            <div id="booksCon">
                <script type="text/template" id="bookTemp">
                    <div class="book">
                        <hr>
                        <h3><%= title %></h3>
                        <p>Author: <%= author %></p>
                        <p><em><%= description %></em></p>
                        <p><strong>
                            Comments:  <% _.each(comments, function(item)
                            { %>
                                <p><%= item.comment %> - <%=item.person%> <button class="btn btn-xs pull-right" name='<%=_id%>' id='<%=item._id%>' onclick="deleteComment(this)"><span class="close">X</span></button></p>
                            <% }); %>
                        </strong></p>
                    </div>
                    <form id="commentForm" action="/books" method="POST">
                        <input name='comment' id="newComment" placeholder="Add Comment" required/>
                        <input name="user" id="userName" placeholder="Username" required/>
                        <input name="id" value='<%=_id%>' style="display: none"/>
                        <input type="submit" id="<%=_id%>" value="Post Comment" data-title='<%=title%>' class="btn btn-default" />
                    </form>    
                </script>
            </div>
            <hr><br>
        </div>
    </body>
</html>
